@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.woff2') format('woff2'), url('fonts/Lato/Lato-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico/Pacifico-Regular.woff2') format('woff2'),
    url('fonts/Pacifico/Pacifico-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz.woff2') format('woff2'),
    url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz.woff') format('woff');
  font-weight: 400;
}
